<div id='section'>
  <div id="main">
    <div class="pad">

      <h2>使用上の注意</h2>
      <div class="inpad">
        <ul>
          <li>ダーツったーではCookieとJavascriptを有効にする必要があります。</li>
          <li>ダーツライブのカードは有料会員に登録している物に限ります。</li>
          <li>ダーツライブがメンテナンス中の場合はデータの取得ができません。</li>
          <li>「今日のアワード」は 01, STANDARD CRICKET, COUNT UP　のアワード数の合計値となります。</li>
        </ul>
      </div>

      <h2>バグ報告・お問い合わせ</h2>
      <div class="inpad">
        <p>Mail:<%= Settings.email %></p>
      </div>

    </div>
  </div><!--/main-->
  <%= render "shared/sidebar" %>
</div><!--/section-->

