<div id="side">
  <div class="ad">
    <a href="http://px.a8.net/svt/ejp?a8mat=1TOI17+69NCLE+2BM0+5YJRL" target="_blank" onmouseover="window.status='http://www.dartshive.jp/';return true;" onmouseout="window.status='';return true;">
    <img border="0" width="300" height="250" alt="" src="http://www24.a8.net/svt/bgt?aid=110318155379&wid=003&eno=01&mid=s00000010836001001000&mc=1" /></a>
    <br />
    <img border="0" width="1" height="1" src="http://www13.a8.net/0.gif?a8mat=1TOI17+69NCLE+2BM0+5YJRL" alt="" />
  </div>

 <div class="sidecontents">
    <div style="text-align:left; border:1px solid #888; height:70px; padding:5px; margin:0px 4px;">
      <div style="float:left; margin:5px;">
        <%= image_tag("appicon.png") %>
      </div>
      <div>
        <p style="margin-top:10px; font-size:14px;">iPhoneアプリのダーツったーができました！<a href="http://itunes.apple.com/ja/app/id439577476?mt=8&ls=1">Apple Store</a></p>
      </div>
    </div>
    <br class="clear" />
  </div>

  <div class="sidecontents">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E3%2583%2580%25E3%2583%25BC%25E3%2583%2584%25E3%2581%25A3%25E3%2581%259F%25E3%2583%25BC%2F137940516278399&amp;width=300&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=300" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:300px;" allowTransparency="true"></iframe>

        <a href="http://b.hatena.ne.jp/entry/http://www.dartstter.net" class="hatena-bookmark-button" data-hatena-bookmark-title="ダーツったー" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="katoyan_" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <g:plusone size="medium"></g:plusone>
  </div>
</div><!--/side-->

